header {
    height: 350px;
}

#menu_top, #menu_bottom {
    font-family: 'Open Sans', sans-serif;
    height: 55px;
}

/* Articles styling  */

#article_button {
    height: 120px;
}

#article_headline {
    width: 80%;
}

#pic {
    width: 100%;
}

/* end */


/* Font styling */

h6 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

span {
    font-size: 10px;
}

a {
    text-decoration: none;
}