body {
    min-width: 380px;
    max-width: 380px;
}

main {
    min-height: 500px;
}

header {
    height: 350px;
}

#menu-top, #menu-bottom {
    font-family: 'Open Sans', sans-serif;
    height: 45px;
}

#home-button, #follow-button, #bookmark-button, #search-button {
    height: 100%;
}

span {
    font-size: 10px;
}

#follow {
    height: 80px;
}

h6 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}