
#menu_top, #menu_bottom {
    font-family: 'Open Sans', sans-serif;
    height: 55px;
}

#article_image {
  height: 200px;
}

#pic {
    width: 100%; 
    max-height: 200px;
}

#article_header {
    height: 180px;
}

/* Button styling  */

#resize, #dark_mode, #bookmark, #share {
    height: 100%;
}

span {
    font-size: 10px;
}

/* Font styling  */

h4 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

#article_title {
    padding-left: 15px;
    padding-right: 15px;
}

#date, #reading_time {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#article_text {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.8;

    padding-top: 15px;
} 

#opt {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}