body {
    min-width: 380px;
    max-width: 380px;
}

main {
    min-height: 500px;
}

header {
    height: 350px;
}

article {
    min-height: 140px;
    border-style: none none solid none;
}

#menu-top, #menu-bottom {
    font-family: 'Open Sans', sans-serif;
    height: 55px;
}

/* Button styling  */


/* Image styling  */

#header-img {
    width: 100%;
    height: 100%;
}

#img {
    height: 100%;
    width: 100%;
}

#article-img {
    height: 120px;
    padding: 10px 0 10px 0;
}

/* Font styling */

h6 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

span {
    font-size: 10px;
}