#menu-top, #menu-bottom {
    font-family: 'Open Sans', sans-serif;
    height: 55px;
}

span {
    font-size: 10px;
}

#follow {
    height: 60px;
}

#name {
    width: 90%;
}

#like {
    width: 10%;
}

h6 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}